<div class="main-title">
  <h1>Üdvözlünk a Kalóz étterem honlapján!</h1>
</div>
<main>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <img
        src="../../../assets/img/kaloz_etterem.jpg"
        alt="Kép a kalóz étteremről belülről"
      />
    </div>
    <div class="col description">
      Ülj be enni a kalózok evezőjébe a Halálos Öböl 428 sarkán, vagy halássz
      egy jó fogást honlapunkról. Arrgh!
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col description">
      Ha szülinapos vagy akkor is szívesen látunk. Tartsd meg a szülinapodat a
      leg kalóz authentikusabb éttermében és vedd igénybe a 30%-os
      kedvezményünket!
    </div>
    <div class="col">
      <img
        src="../../../assets/img/birthday.jpg"
        alt="Kép a kalóz étteremről belülről"
      />
    </div>
  </div>
</main>
